.swiper {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}
.swiper_slide {
  background: #fff;
}
.swiper_slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: 55%;
  object-fit: cover;
}
.selected {
  filter: brightness(0.6);
}
