.deck {
  margin: 5vmin;
  margin-top: 10vmin;
  visibility: hidden;
  /* display: none; */
}
.deck_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.deck_container img {
  position: absolute;
  margin: 0;
  width: 100px;
}
.deck_container img:hover {
  width: 150px;
  z-index: 100;
}
.deck_container:hover {
  cursor: pointer;
}
.first {
  right: 50%;
  z-index: 20;
}
.second {
  z-index: 10;
}
.third {
  left: 50%;
}
.drop {
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown_content {
  display: none;
  position: absolute;
  background-color: transparent;
  overflow: auto;
  z-index: 1;
  align-items: center;
}
.show {
  display: block;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
